.container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.botao {
  padding: 10px;
  border: none;
  background: rgb(2, 4, 128);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}